In [1]:
import pandas as pd

In [3]:
df_custormer = pd.read_csv("/home/brilly/Documents/sql_join/customers.csv")
df_order_items = pd.read_csv("/home/brilly/Documents/sql_join/order_items.csv")
df_orders = pd.read_csv("/home/brilly/Documents/sql_join/orders.csv")
df_products = pd.read_csv("/home/brilly/Documents/sql_join/product.csv")


df_custormer.info()
df_order_items.info()
df_orders.info()
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    4 non-null      int64
 1   customer_name  4 non-null      object
 2   email          4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    8 non-null      int64
 1   product_id  8 non-null      int64
 2   quantity    8 non-null      int64
dtypes: int64(3)
memory usage: 324.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5 non-null      int64
 1   customer_id  5 non-null      int64
 2   order_date   5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    5 non-null      int64
 1   product_name  5 non-null      object
 2   price         5 non-null      int64
 3   category_id   5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [4]:
df_custormer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    4 non-null      int64
 1   customer_name  4 non-null      object
 2   email          4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [5]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    8 non-null      int64
 1   product_id  8 non-null      int64
 2   quantity    8 non-null      int64
dtypes: int64(3)
memory usage: 324.0 bytes

In [6]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5 non-null      int64
 1   customer_id  5 non-null      int64
 2   order_date   5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [7]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    5 non-null      int64
 1   product_name  5 non-null      object
 2   price         5 non-null      int64
 3   category_id   5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes